body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    z-index: 1000;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

a:hover {
    color: #ff6600; 
   
}


/* Navigation Menu Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    z-index: 1000;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

a:hover {
    color: #ff6600; /* Change color on hover */
}

/* Button Styles */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #333; /* Change background color on hover */
    color: #ff6600; /* Change text color on hover */
}
